@import "foundation";
@import "settings";
@import "globals";
@import "weather-icons";

/* Default Styles */
$header-height: rem-calc(50);
$header-element-size: rem-calc(40);

body{
	background-color: $sunny-warm;
	height: 100%;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-input-placeholder {
   color: $placehorder-color;
}

:-moz-placeholder { /* Firefox 18- */
   color: $placehorder-color;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $placehorder-color;
}

:-ms-input-placeholder {  
   color: $placehorder-color;
}

input:focus{
    outline: none;
}

.clear{
	clear: both;
}

.round-button{
	@include small-rounded-box($prompt-font-size);
	background-color: transparent;
	border: 1px white solid;
	color: white;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
}

.round-button:hover{
	background-color: white;
	color: $sunny-warm-header;
}

header{
	width: 100%;
	padding-top: rem-calc(10);

	.girl{
		@include girl-image($header-element-size);
		float: left;
		margin-right: rem-calc(5);
	}

	.prompt{
		color: white;
		font-size: $h4-font-size;
		@include small-rounded-box($h4-font-size);
		background-color: $sunny-warm-header;
		float: left;
	}

	.add{
		@include circle-button($header-element-size);
		float: right;
	}

	.add:hover{
		background-color: white;
		color: $sunny-warm;
	}
}

.start-page{
	background-color: $sunny-warm;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 5; // on top of search page
	padding-top: 8%;

	.girl{
		@include girl-image(rem-calc(80));
	}

	.prompt{
		padding: 1.6rem 3.6rem;
    	@include border-radius($start-prompt-font-size * 1.25);
		font-size: $start-prompt-font-size;
		line-height: $start-prompt-font-size*1.25;
		color: white;
		background-color: $sunny-warm-header;
	}

	#add-current{
		margin-top: rem-calc(50);
	}
}

.search-page{
	background-color: $sunny-warm-header;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 3; // on top of normal content
	padding-top: rem-calc(10);
	display: none;

	.input{
		margin-top: rem-calc(200);

		input#city-input{
			box-shadow: none;
			outline: none;
			background: white;
			border: none;
			color: $sunny-warm-header;
			font-size: $prompt-font-size;
			width: 100%;
			overflow: hidden;
			padding: 1.86rem $prompt-font-size;
			@include border-radius($prompt-font-size);
			display: block;
		}
	}

	.suggestions{
		background-color: white;
		width: 100%;
		@include border-radius(rem-calc(5));
		position: relative;

		.item {
			color: $grey-2;
			font-size: $prompt-font-size;
			border-bottom: 1px $grey-3 solid;
			padding: 0.8rem $prompt-font-size;
			cursor: pointer;
		}

		.item:hover{
			color: $sunny-warm-header;
		}
	}

	.cancel{
		@include circle-button($header-element-size);
		float: right;
	}

	.cancel:hover{
		background-color: white;
		color: $sunny-warm-header;
	}
}

.main{
	text-align: center;
	margin-top: rem-calc(60);

	.basic{
		margin-bottom: rem-calc(30);

		h1.temp{
			color: white;
			margin-bottom: rem-calc(30);
			text-align: left;
		}

		.weather-icon{
			color: white;
			font-size: $weather-icon-font-size;
		}
	}

	.details{
		color: white;

		i{
			padding-right: rem-calc(5);
			font-size: $h3-font-size;
		}
	}

	.forcast{
		color: white;
		margin-top: rem-calc(40);
		padding: rem-calc(20) 0;
		margin-left: rem-calc(10);
		margin-right: rem-calc(10);
		// border-bottom: 1px white solid;
		border-top: 1px white solid;
		margin-bottom: rem-calc(10);

		.day-of-week, .forcast-weather-icon, .temp{
			width: 100%;
		}

		.day-of-week{
			font-weight: $body-font-size;
			font-weight: bold;
		}

		.forcast-weather-icon{
			font-size: $h2-font-size;
			padding: rem-calc(15) 0;
		}

		.temp{
			font-weight: $body-font-size;
		}
	}

	.tips{
		color: white;
		text-align: left;
		margin: 0 rem-calc(20);
		padding-left: rem-calc(8);

		.girl{
			@include girl-image($prompt-font-size);
			display: inline-block;
			margin-right: rem-calc(5);
		}

		.tip{
			font-size: $h4-font-size;
			margin-bottom: rem-calc(20);
			text-rendering: optimizeLegibility;
			line-height: rem-calc(24);
		}
	}
}

footer{
	width: 100%;
	margin-top: rem-calc(60);
	text-align: center;
	margin-bottom: rem-calc(60);

	.city-list{
		margin: 0 auto;

		.city{
			display: inline-block;
			@include small-rounded-box($h3-font-size);
			background-color: $sunny-warm-header;
			color: white;
		}
	}

}

/* Media Queries for Other Screen Sizes */
@media #{$small-up} { }
@media #{$small-only} {
	html { font-size: 87.5%; }

	.start-page{
		.prompt{
			padding: 1rem 2rem;
			font-size: $prompt-font-size;
	    	@include border-radius($prompt-font-size * 1.25);
			line-height: $prompt-font-size*1.25;
		}
	}

	.main{
		margin-top: rem-calc(40);

		.basic{
			margin-bottom: rem-calc(20);
		}

		.forcast{
			display: none;
		}

		.tips{
			margin: rem-calc(20) 0;
			
			.tip{
				margin-bottom: rem-calc(10);
				text-rendering: optimizeLegibility;
				line-height: rem-calc(24);
			}
		}
	}

	footer{
		margin-top: rem-calc(30);
		text-align: center;
		margin-bottom: rem-calc(30);
	}
}

@media #{$medium-up} { }
@media #{$medium-only} { }

@media #{$large-up} { }
@media #{$large-only} { }

@media #{$xlarge-up} { }
@media #{$xlarge-only} { }

@media #{$xxlarge-up} { }
@media #{$xxlarge-only} { }
