@import "foundation";
@import "settings";
@import "globals";
@import "weather-icons";

/* Default Styles */
$header-height: 50px;
$header-element-size: 40px;

body{
	background-color: $sunny-warm;
	height: 100%;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-input-placeholder {
   color: $placehorder-color;
}

:-moz-placeholder { /* Firefox 18- */
   color: $placehorder-color;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $placehorder-color;
}

:-ms-input-placeholder {  
   color: $placehorder-color;
}

input:focus{
    outline: none;
}

.clear{
	clear: both;
}

.round-button{
	@include small-rounded-box($prompt-font-size);
	background-color: transparent;
	border: 1px white solid;
	color: white;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
}

.round-button:hover{
	background-color: white;
	color: $sunny-warm-header;
}

header{
	width: 100%;
	padding-top: 10px;

	.girl{
		@include girl-image($header-element-size);
		float: left;
		margin-right: 5px;
	}

	.prompt{
		color: white;
		font-size: $h4-font-size;
		@include small-rounded-box($h4-font-size);
		background-color: $sunny-warm-header;
		float: left;
	}

	.add{
		@include circle-button($header-element-size);
		float: right;
	}

	.add:hover{
		background-color: white;
		color: $sunny-warm;
	}
}

.start-page{
	background-color: $sunny-warm;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 5; // on top of search page
	padding-top: 8%;

	.girl{
		@include girl-image(80px);
	}

	.prompt{
		@include small-rounded-box($h3-font-size);
		font-size: $start-prompt-font-size;
		line-height: 42px;
		color: white;
		background-color: $sunny-warm-header;
	}

	#add-current{
		margin-top: 50px;
	}
}

.search-page{
	background-color: $sunny-warm-header;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 3; // on top of normal content
	padding-top: 10px;
	display: none;

	.input{
		margin-top: 18%;

		input#city-input{
			box-shadow: none;
			outline: none;
			background: white;
			border: none;
			color: $sunny-warm-header;
			font-size: $prompt-font-size;
			width: 100%;
			overflow: hidden;
			@include big-rounded-box($prompt-font-size);
			display: block;
		}
	}

	.suggestions{
		background-color: white;
		width: 100%;
		@include border-radius(5px);
		position: relative;

		.item {
			color: $grey-2;
			font-size: $prompt-font-size;
			border-bottom: 1px $grey-3 solid;
			padding: ($prompt-font-size * 0.35) ($prompt-font-size * 0.83);
			cursor: pointer;
		}

		.item:hover{
			color: $sunny-warm-header;
		}
	}

	.cancel{
		@include circle-button($header-element-size);
		float: right;
	}

	.cancel:hover{
		background-color: white;
		color: $sunny-warm-header;
	}
}

.main{
	text-align: center;
	margin-top: 60px;

	.basic{
		margin-bottom: 30px;

		h1.temp{
			color: white;
			margin-bottom: 30px;
			text-align: left;
		}

		.weather-icon{
			color: white;
			font-size: $weather-icon-font-size;
		}
	}

	.details{
		color: white;

		i{
			padding-right: 5px;
			font-size: $h3-font-size;
		}
	}

	.forcast{
		color: white;
		margin-top: 40px;
		padding: 20px 0;
		margin-left: 10px;
		margin-right: 10px;
		// border-bottom: 1px white solid;
		border-top: 1px white solid;
		margin-bottom: 10px;

		.day-of-week, .forcast-weather-icon, .temp{
			width: 100%;
		}

		.day-of-week{
			font-weight: $body-font-size;
			font-weight: bold;
		}

		.forcast-weather-icon{
			font-size: $h2-font-size;
			padding: 15px 0;
		}

		.temp{
			font-weight: $body-font-size;
		}
	}

	.tips{
		color: white;
		text-align: left;
		margin: 0 20px;

		.girl{
			@include girl-image($h3-font-size);
			display: inline-block;
			margin-right: 5px;
		}

		.tip{
			font-size: $h4-font-size;
			margin-bottom: 1.25rem;
			text-rendering: optimizeLegibility;
			line-height: 1.6;
		}
	}
}

footer{
	width: 100%;
	margin-top: 60px;
	text-align: center;
	margin-bottom: 30px;

	.city-list{
		margin: 0 auto;

		.city{
			display: inline-block;
			@include small-rounded-box($h3-font-size);
			background-color: $sunny-warm-header;
			color: white;
		}
	}

}

/* Media Queries for Other Screen Sizes */
// @media #{$small-up} { }
// @media #{$small-only} { }

// @media #{$medium-up} { }
// @media #{$medium-only} { }

// @media #{$large-up} { }
// @media #{$large-only} { }

// @media #{$xlarge-up} { }
// @media #{$xlarge-only} { }

// @media #{$xxlarge-up} { }
// @media #{$xxlarge-only} { }
