/*
	Global variables for the app
*/

/* Colors */
$sunny-warm: #f39c12;
$sunny-warm-header: #f1c40f;

$grey-1: #666;
$grey-2: #999;
$grey-3: #ccc;

/* Typography */


// font scales
$prompt-font-size: $h3-font-size;
$weather-icon-font-size: 128px;

$h1-font-size: 4em;		/* 16 x 4 = 64 */
$h2-font-size: 2.5em;		/* 16 x 2.5 = 40 */
$h3-font-size: 1.5em;		/* 16 x 1.5 = 24 */
$h4-font-size: 1.125em;     /* 16 x 1.125 = 18 */
$body-font-size: 1em;		/* 16 x 1 = 16 */

body { font-size: 100%; }
h1 { font-size: $h1-font-size;  }
h2 { font-size: $h2-font-size;  }
h3 { font-size: $h3-font-size;  }
p { font-size: $body-font-size;  }


/* Mixins */
@mixin border-radius($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin small-rounded-box($font-size) {
    padding: ($font-size*10/18) $font-size;
    @include border-radius($font-size);
}

@mixin big-rounded-box($font-size) {
    padding: $font-size;
    @include border-radius($font-size);
}

