/**
 * Global variables, mixins, and styles.
 */

/* Colors */
$sunny-warm: #f39c12;
$sunny-warm-header: #f1c40f;

$grey-1: #666;
$grey-2: #999;
$grey-3: #ccc;
$placehorder-color: #bdc3c7;

/* Typography */

// font scales

$h1-font-size: 4rem;		/* 16 x 4 = 64 */
$h2-font-size: 2.5rem;		/* 16 x 2.5 = 40 */
$h3-font-size: 1.5rem;		/* 16 x 1.5 = 24 */
$h4-font-size: 1.125rem;     /* 16 x 1.125 = 18 */
$body-font-size: 1rem;		/* 16 x 1 = 16 */

$prompt-font-size: $h3-font-size * 1.125;
$weather-icon-font-size: 6.75rem;
$start-prompt-font-size: 2.25rem;   /* 16 x 2.25 = 32 */

body { font-size: 100%; }
h1 { font-size: $h1-font-size;  }
h2 { font-size: $h2-font-size;  }
h3 { font-size: $h3-font-size;  }
p { font-size: $body-font-size;  }


/* Mixins */
@mixin border-radius($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin small-rounded-box($font-size) {
    padding: ($font-size*10/18) $font-size;
    @include border-radius($font-size);
}

@mixin girl-image($image-size){
    background: url(../images/girl.png) no-repeat;
    background-size: $image-size auto;
    width: $image-size;
    height: $image-size;
}

@mixin circle-button($size){
    color: white;
    border: 1px white solid;
    font-weight: bolder;
    font-size: $h3-font-size;
    text-align: center;
    line-height: $size - rem-calc(3);
    width: $size;
    height: $size;
    @include border-radius($size);
    cursor: pointer;
}
