/*
	Global variables for the app
*/

/* Colors */
$sunny-warm: #f39c12;
$sunny-warm-header: #f1c40f;

/* Typography */


// font scales
$base-font-size: 14px;
$prompt-font-size: 26px;
$weather-icon-font-size: 96px;