/**
 * Global variables, mixins, and styles.
 */
/* Colors */
/* Typography */
/* 16 x 4 = 64 */
/* 16 x 2.5 = 40 */
/* 16 x 1.5 = 24 */
/* 16 x 1.125 = 18 */
/* 16 x 1 = 16 */
/* 16 x 2.25 = 32 */
/* line 28, ../scss/globals.scss */
body {
  font-size: 100%;
}

/* line 29, ../scss/globals.scss */
h1 {
  font-size: 4em;
}

/* line 30, ../scss/globals.scss */
h2 {
  font-size: 2.5em;
}

/* line 31, ../scss/globals.scss */
h3 {
  font-size: 1.5em;
}

/* line 32, ../scss/globals.scss */
p {
  font-size: 1em;
}

/* Mixins */
