/*
Syntax error: Undefined variable: "$h3-font-size".
        on line 18 of /Users/ningxiaz/Dropbox/Sandbox/WeatherCare/scss/globals.scss

Backtrace:
/Users/ningxiaz/Dropbox/Sandbox/WeatherCare/scss/globals.scss:18
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.1/lib/sass/script/variable.rb:49:in `_perform'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.1/lib/sass/script/node.rb:40:in `perform'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:323:in `visit_variable'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.1/lib/sass/tree/root_node.rb:20:in `render'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.1/lib/sass/engine.rb:315:in `_render'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.1/lib/sass/engine.rb:262:in `render'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.9/lib/fssm/path.rb:73:in `call'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.9/lib/fssm/path.rb:73:in `run_callback'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.9/lib/fssm/path.rb:55:in `callback_action'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.9/lib/fssm/path.rb:35:in `update'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.9/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.9/lib/fssm/state/directory.rb:37:in `each'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.9/lib/fssm/state/directory.rb:37:in `modified'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.9/lib/fssm/state/directory.rb:18:in `refresh'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.9/lib/fssm/backends/rbfsevent.rb:30:in `block in temporary_multipath_handler'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.9/lib/fssm/backends/rbfsevent.rb:27:in `each'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.9/lib/fssm/backends/rbfsevent.rb:27:in `temporary_multipath_handler'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.9/lib/fssm/backends/rbfsevent.rb:17:in `block (2 levels) in run'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.9/lib/fssm/backends/rbfsevent.rb:16:in `each'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.9/lib/fssm/backends/rbfsevent.rb:16:in `block in run'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/rb-fsevent-0.9.1/lib/rb-fsevent/fsevent.rb:43:in `call'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/rb-fsevent-0.9.1/lib/rb-fsevent/fsevent.rb:43:in `run'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.9/lib/fssm/backends/rbfsevent.rb:20:in `run'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.9/lib/fssm/monitor.rb:26:in `run'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.9/lib/fssm.rb:70:in `monitor'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/bin/compass:19:in `load'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/bin/compass:19:in `<main>'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/bin/ruby_noexec_wrapper:14:in `eval'
/Users/ningxiaz/.rvm/gems/ruby-1.9.3-p362/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$h3-font-size\".\A         on line 18 of /Users/ningxiaz/Dropbox/Sandbox/WeatherCare/scss/globals.scss"; }
